/*---------------------*/
/*-------MISC-CSS------*/
/*---------------------*/
.clearfix{
	display: block;
	width: 100%;
	height: 100%;
}.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*---------------------*/
/*-------SIDEBAR-------*/
/*---------------------*/

#sidebar {
	z-index: 100;
	float: right;
	background: black;
}

/*---------------------*/
/*-------CONTAINER-----*/
/*---------------------*/

#majorContainer{
	width: 60px;
	float: right;
	background-color: black;
	z-index: 110;
}

#linkContainer{
	padding: 0 5px;
}

/*---------------------*/
/*------LINK-BOXES-----*/
/*---------------------*/

.sLink {

width: 50px;
height: 65px;


/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Chrome, and Opera */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

}

.sLink a, .sLink a:hover, .sLink a:visited{
	color: white;
	text-decoration: none;
	background-size: 100% 100%;
	background-repeat: norepeat;
}

/*---------------------*/
/*------LINK-ICONS-----*/
/*---------------------*/

#l1{
	background-image:url('search.png');
}
#l2{
	background-image:url('share.png');
}
#l3{
	background-image:url('start.png');
}
#l4{
	background-image:url('devices.png');
}
#l5{
	background-image:url('settings.png');
}

/*---------------------*/
/*-----SIDEBAR-BODY----*/
/*---------------------*/

#sbContainer{
	display: none;
	z-index: 85;
	float: left;
	height: 100%;
	width: 240px;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}

.sideBody {
	z-index: 90;
	float: left;
	height: 100%;
	width: 240px;
	background-color: blue;
	color: white;
	padding-left: 20px;
	position: relative;
}

.sideBody h1 {
	font-family: Segoe UI;
	font-weight: normal;
}

/*---------------------*/
/*-----SIDEBAR-ITEM----*/
/*---------------------*/

#sb1 input {
	border: none;
	width: 80%;
	padding: 5px;
	font-size: 16px;
}
.shareItem{
	margin-top: 9px;
}
#sb2 .shareItem a {
	font-family: Segoe UI;
	font-weight: normal;
	width: 180px;
	height: 25px;
	padding: 5px;
	font-size: 16px;
}
#sb2 .shareItem a:hover {
	background-color: #f33;
}
.shareItem a, .shareItem a:hover, .shareItem a:visited {
	color: white;
	text-decoration: none;
}